@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-color: #f2f2f2;
}

.container {
	max-width: 100%;
	border-color: #fff;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
	font-weight: 500;
}

.board {
	max-width: 100%;
	margin: 20px auto;
	width: 500px;
}

.buttons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

button {
	color: #fff;
	background-color: #000;
	border: none;
	width: 120px;
	height: 40px;
	border-radius: 6px;
	font-size: 0.9rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

button:hover {
	background-color: #434343;
}

.move-history {
	max-width: 510px;
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	height: 100px;
	/* width: 400px; */
	overflow-y: auto;
	background-color: #f2f2f2;
}

.light-theme {
	background-color: #fff;
	color: #000;
	transition: all 0.6s ease;
}

.light-theme button {
	background-color: #000;
	color: #fff;
	transition: all 0.6s ease;
}

/* Стили для темной темы */
.dark-theme {
	background-color: #222126;
	color: #858585;
	border-color: #c73f3f;
	transition: all 0.6s ease;
}

.dark-theme button {
	background-color: #2a2a2a;
	color: #858585;
	border-color: #3a463d;
	transition: all 0.6s ease;
}

.dark-theme .move-history {
	background-color: #2a2a2a;
	border-color: #373737;
	color: #858585;
	overflow-y: auto;
	transition: all 0.6s ease;
}
